<!doctype html>
<html lang="en">
    <%include ./partials/head %>
    <body class="text-center">
      <% if(pageType == "signin"){%>
      <%include ./partials/SignIn %>
      <%}else{%>
        <%include ./partials/SignUp %>
        <%}%>
    </body>
    <%include ./partials/footer %>
</html>